// Margins
.margin-top-xxs {
    margin-top: 0.5rem;
}

.margin-top-xs {
    margin-top: 1rem;
}

.margin-top-s {
    margin-top: 1.5rem;
}

.margin-top-m {
    margin-top: 2rem;
}

.margin-top-l {
    margin-top: 3rem;
}

.margin-top-xl {
    margin-top: 5rem;
}

.margin-top-xxl {
    margin-top: 8rem;
}

.margin-bottom-xxs {
    margin-bottom: 0.5rem;
}

.margin-bottom-xs {
    margin-bottom: 1rem;
}

.margin-bottom-s {
    margin-bottom: 1.5rem;
}

.margin-bottom-m {
    margin-bottom: 2rem;
}

.margin-bottom-l {
    margin-bottom: 3rem;
}

.margin-bottom-xl {
    margin-bottom: 5rem;
}

.margin-bottom-xxl {
    margin-bottom: 8rem;
}

// Thickness
.thickness-100 {
    font-weight: 100;
}

.thickness-200 {
    font-weight: 200;
}

.thickness-300 {
    font-weight: 300;
}

.thickness-400 {
    font-weight: 400;
}

.thickness-500 {
    font-weight: 500;
}

.thickness-600 {
    font-weight: 600;
}

.thickness-700 {
    font-weight: 700;
}

.thickness-800 {
    font-weight: 800;
}

.thickness-900 {
    font-weight: 900;
}

// Italic
.italic {
    font-style: italic;
}

// Upercase
.uppercase {
    text-transform: uppercase;
}