// Base colors
$color-white: #fff;
$color-grey: #424242;
$color-black: #000;
$color-blue: #003366;

// Base colors variety:
$color-main-1-light: #fff8ee;
$color-main-1: #e7dfd8;
$color-main-1-dark: #b3ada8;

$color-main-2-light: #919191;
$color-main-2: #2c2c2c;
$color-main-2-dark: #1a1a1a;

// Font sizes
$font-size-xxs: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-s: 2rem;
$font-size-s-m: 2.4rem;
$font-size-m: 3rem;
$font-size-m-l: 3.8rem;
$font-size-l: 4.5rem;
$font-size-xl: 6rem;
$font-size-xxl: 9rem;
$font-size-xxxl: 12rem;

// Font family
$main-font: 'Montserrat', sans-serif;