h1 {
    font-size: $font-size-l;
    font-weight: 500;

    @media only screen and (max-width: $bp-medium) {
        font-size: $font-size-m-l;
    }
    @media only screen and (max-width: $bp-smallest) {
        font-size: $font-size-m;
    }
}

h2 {
    font-size: $font-size-m;
    font-weight: 500;

    @media only screen and (max-width: $bp-medium) {
        font-size: $font-size-s-m;
    }
}

h3 {
    font-size: $font-size-s-m;
    font-weight: 500;

    @media only screen and (max-width: $bp-medium) {
        font-size: $font-size-s;
    }
}